<%= form_for([@photo, @photo.reports.build]) do |f| %>
        <p>
            <%= f.label :"Name" %><br>
            <%= f.text_field :reporter %>
        </p>
        <p>
              
            <%= f.label :"Describe the problem" %><br>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <% end %>