<%= form_for([@photo, @photo.reports.build]) do |f| %>
        <p>
            <%= f.label :reporter %><br>
            <%= f.text_field :reporter %>
        </p>
        <p>
              
            <%= f.label :body %><br>
            <%= f.text_area :body %>
        </p>
        <p>
            <%= f.submit %>
        </p>
    <% end %>